<style>
    .tmb-product-deatail {
        max-width: 567px;
        width: 100%;
    }
    .tmb_stars {
        display: flex;
        gap: 4px;
    }
    .tmb_cosst_container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .tmb_product_wishList {
        display: flex;
        align-items: center;
        gap: 16px;
    }
    .tmb_product-shoppay {
        display: flex;
        align-items: center;
    }
    .tmb_product_featuresList {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin: 22px 0;
    }
    .tmb_product_quntity_controls {
        max-width: 125px;
        width: 100%;
        padding: 8px 10px;
        border-radius: 10px;
        border: 1px solid #FFF;
        display: flex;
        align-items: center;
    }
    .tmb_product_quntity_controls button {
        background: transparent;
        font-size: 24px;
        outline: none;
        border: none;
        color: #fff;
        width: 24px;

    }

    .tmb_product_quantity_input {
        background: transparent;
        border: none;
        outline: none;
        display: inline-block;
        color: #FFF;
        text-align: center;
        font-family: Ubuntu;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        width: 100%;
    }

    .tmb_costContainer {
        gap: 16px;
    }
    .tmb_totalCost span {
        display: flex;
        color: #FFF;
        font-family: Ubuntu;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

    }
    .tmb_product_btn {
        width: 100%;
        margin-top: 20px;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
</style>

<div class="tmb-product-deatail">
    <form
    method="get"
    action="/cart/add"
    id="product-hero-form"
    accept-charset="UTF-8"
    class="product-form"
    enctype="multipart/form-data"
    data-available="false"
  >
    <input type="hidden" name="form_type" value="product">
    <input type="hidden" name="utf8" value="✓">
    <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
    <input type="hidden" name="quantity" value="1">
    <input type="hidden" name="return_to" value="back">
    <div class="tmb_product_review">
        <ul class="tmb_stars">
            <li class="tmb_star">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="17" viewBox="0 0 18 17" fill="none">
                    <rect x="-3" y="-4" width="24" height="24" fill="white"/>
                </svg>
            </li>
            <li class="tmb_star">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="17" viewBox="0 0 18 17" fill="none">
                    <rect x="-3" y="-4" width="24" height="24" fill="white"/>
                </svg>
            </li>
            <li class="tmb_star">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="17" viewBox="0 0 18 17" fill="none">
                    <rect x="-3" y="-4" width="24" height="24" fill="white"/>
                </svg>
            </li>
            <li class="tmb_star">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="17" viewBox="0 0 18 17" fill="none">
                    <rect x="-3" y="-4" width="24" height="24" fill="white"/>
                </svg>
            </li>
            <li class="tmb_star">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="17" viewBox="0 0 18 17" fill="none">
                    <rect x="-3" y="-4" width="24" height="24" fill="white"/>
                </svg>
            </li>
        </ul>
    </div>
    <!--+++--- Name of Product ---+++-->
    <h1{{ product.title | escape }}
    </h1>

    <div
        class="tmb_cosst_container">
        <!--+++--- Cost of Product ---+++-->
        <span class="tmb_product_cost">$199.00</span>
        <div class="tmb_product_wishList">
            <span>
                <svg class="block" ;=";" xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10 2.09L8.58025 0.880992C7.66658 0.322081 6.59721 0 5.5 0C2.42 0 0 2.42 0 5.5C0 9.2769 3.39442 12.3549 8.53733 17.0185L8.55 17.03L10 18.35L11.45 17.04L11.4895 17.0041C16.6174 12.3442 20 9.27033 20 5.5C20 2.42 17.58 0 14.5 0C13.4028 0 12.3334 0.322081 11.4198 0.880992L10 2.09ZM17.34 7.87493C16.3645 9.6902 14.8698 11.2298 10.1049 15.5599L10.0051 15.65L9.89636 15.551C5.14926 11.2464 3.64456 9.69901 2.66601 7.88573C2.21194 7.04434 2 6.27778 2 5.5C2 3.52457 3.52457 2 5.5 2C6.62227 2 7.74637 2.52835 8.4773 3.38668L10 5.17481L11.5227 3.38668C12.2536 2.52835 13.3777 2 14.5 2C16.4754 2 18 3.52457 18 5.5C18 6.27441 17.7899 7.0376 17.34 7.87493Z" fill="white"/>
                </svg>
            </span>
            <span>
                Add to wishlist
            </span>
        </div>
    </div>
    <p class="tmb_product-shoppay">Pay in 4 interest-free instalments of $49.50 with
        <span>
            <svg xmlns="http://www.w3.org/2000/svg" width="65" height="16" viewBox="0 0 65 16" fill="none">
                <g clip-path="url(#clip0_361_7914)">
                    <path d="M16.6586 5.03953C16.1371 3.94557 15.1483 3.23885 13.6585 3.23885C13.2012 3.24683 12.7519 3.35974 12.3451 3.56886C11.9384 3.77799 11.5851 4.07775 11.3125 4.44502L11.2581 4.51125V0.223397C11.2581 0.198595 11.2482 0.17481 11.2307 0.157272C11.2132 0.139735 11.1894 0.129883 11.1646 0.129883H9.05821C9.0337 0.130325 9.01035 0.140372 8.99318 0.157862C8.976 0.175351 8.96638 0.198885 8.96638 0.223397V12.5228C8.96638 12.5471 8.97604 12.5704 8.99324 12.5876C9.01043 12.6048 9.03375 12.6145 9.05806 12.6145H11.3142C11.3387 12.6144 11.3621 12.6048 11.3796 12.5877C11.397 12.5706 11.4071 12.5473 11.4076 12.5228V7.2785C11.4076 6.25935 12.0872 5.5373 13.1744 5.5373C14.3635 5.5373 14.6642 6.51583 14.6642 7.51306V12.5228C14.6642 12.5349 14.6665 12.5468 14.6711 12.5579C14.6758 12.5691 14.6825 12.5792 14.6911 12.5877C14.6996 12.5962 14.7097 12.603 14.7209 12.6075C14.732 12.6121 14.7439 12.6145 14.756 12.6145H17.0068C17.0313 12.6145 17.0548 12.6049 17.0723 12.5878C17.0898 12.5706 17.0998 12.5473 17.1003 12.5228V7.21396C17.1003 7.0323 17.1003 6.85386 17.0765 6.68047C17.0378 6.11268 16.8962 5.55665 16.6586 5.03953ZM5.39384 6.86229C5.39384 6.86229 4.24545 6.59248 3.82249 6.48363C3.39938 6.37479 2.66047 6.14376 2.66047 5.58482C2.66047 5.02589 3.25681 4.84744 3.86143 4.84744C4.46621 4.84744 5.13905 4.99369 5.19163 5.66469C5.19378 5.68887 5.20493 5.71137 5.22288 5.72772C5.24082 5.74407 5.26424 5.75309 5.28852 5.753L7.51216 5.74456C7.53191 5.74468 7.55119 5.73863 7.56732 5.72725C7.58346 5.71587 7.59563 5.69973 7.60215 5.6811C7.60652 5.66877 7.60829 5.65567 7.60736 5.64262C7.4697 3.49532 5.58577 2.72743 3.84794 2.72743C1.78726 2.72743 0.280453 4.08645 0.280453 5.58498C0.280453 6.67894 0.589663 7.70499 3.02057 8.41846C3.44706 8.54248 4.02623 8.7039 4.53259 8.84479C5.14074 9.0148 5.4685 9.27127 5.4685 9.67568C5.4685 10.1445 4.78906 10.4706 4.12143 10.4706C3.15486 10.4706 2.46853 10.1121 2.41242 9.46827C2.40949 9.4447 2.398 9.42302 2.38014 9.40736C2.36228 9.39171 2.33929 9.38316 2.31554 9.38334L0.0969511 9.39361C0.0839327 9.39358 0.0710424 9.39618 0.0590524 9.40125C0.0470623 9.40632 0.0362192 9.41376 0.0271726 9.42312C0.018126 9.43248 0.0110621 9.44357 0.00640411 9.45573C0.00174607 9.46789 -0.000410259 9.48086 6.42944e-05 9.49387C0.10201 11.5204 2.05906 12.6126 3.88351 12.6126C6.60155 12.6126 7.82996 11.0838 7.82996 9.65162C7.83333 8.97893 7.67865 7.44668 5.39384 6.86229ZM34.0017 3.23547C32.872 3.23547 31.9256 3.86064 31.3158 4.61488V3.32377C31.3159 3.29971 31.3065 3.27658 31.2897 3.2594C31.2728 3.24221 31.2499 3.23235 31.2258 3.23195H29.1159C29.0916 3.23203 29.0683 3.24173 29.0511 3.25893C29.0339 3.27614 29.0242 3.29945 29.0241 3.32377V15.3853C29.0245 15.4093 29.0344 15.4322 29.0516 15.4491C29.0688 15.4659 29.0919 15.4753 29.1159 15.4752H31.3736C31.3975 15.4752 31.4204 15.4658 31.4372 15.4489C31.4541 15.432 31.4636 15.4091 31.4636 15.3853V11.4203H31.4976C31.856 11.9672 32.8363 12.6231 34.1171 12.6231C36.5261 12.6231 38.534 10.6252 38.534 7.9259C38.5357 5.3351 36.5379 3.23547 34.0017 3.23547ZM33.7927 10.3245C33.3172 10.3362 32.8489 10.2061 32.4477 9.95059C32.0465 9.69508 31.7305 9.32583 31.5401 8.88995C31.3496 8.45408 31.2934 7.97134 31.3785 7.50336C31.4636 7.03537 31.6863 6.60336 32.018 6.26246C32.3497 5.92156 32.7755 5.68724 33.241 5.58938C33.7065 5.49153 34.1906 5.53459 34.6315 5.71307C35.0724 5.89155 35.4501 6.19736 35.7165 6.59146C35.9828 6.98556 36.1257 7.45008 36.1269 7.92574C36.1318 8.2367 36.0753 8.54558 35.9606 8.83463C35.8458 9.12368 35.6751 9.3872 35.4582 9.61007C35.2413 9.83295 34.9825 10.0108 34.6967 10.1334C34.4109 10.256 34.1037 10.3209 33.7927 10.3245ZM22.3427 2.70535C20.2379 2.70535 19.1881 3.42066 18.3454 3.99309L18.3199 4.00995C18.2765 4.03973 18.2459 4.0848 18.2343 4.13615C18.2226 4.18751 18.2308 4.24137 18.2571 4.28697L19.0895 5.7208C19.1051 5.74764 19.1264 5.7707 19.152 5.78832C19.1775 5.80595 19.2067 5.8177 19.2373 5.82275C19.2673 5.82812 19.298 5.82678 19.3274 5.81883C19.3568 5.81088 19.384 5.79651 19.4072 5.77676L19.4735 5.72249C19.9066 5.35886 20.6015 4.8732 22.2833 4.74059C23.2193 4.66578 24.028 4.91045 24.6242 5.4677C25.28 6.07248 25.6725 7.04916 25.6725 8.08043C25.6725 9.978 24.5546 11.1705 22.759 11.1943C21.2793 11.1859 20.2854 10.4146 20.2854 9.27465C20.2854 8.66987 20.5591 8.27573 21.0924 7.88159C21.1332 7.85253 21.162 7.80966 21.1736 7.76094C21.1851 7.71223 21.1786 7.66097 21.1553 7.61669L20.4078 6.20324C20.394 6.17791 20.3754 6.15555 20.3529 6.13747C20.3305 6.11939 20.3047 6.10595 20.277 6.09793C20.2487 6.08947 20.219 6.08707 20.1897 6.09087C20.1605 6.09468 20.1323 6.1046 20.1071 6.12C19.268 6.61777 18.2384 7.52823 18.2945 9.27802C18.3624 11.5052 20.2141 13.2056 22.6213 13.2754H22.9067C25.7675 13.1819 27.8332 11.0583 27.8332 8.17885C27.8332 5.53561 25.9069 2.70535 22.3427 2.70535Z" fill="white"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M43.1903 0.160156H62.453C63.7825 0.160156 64.8603 1.23787 64.8603 2.56746V13.1136C64.8603 14.443 63.7825 15.5207 62.453 15.5207H43.1903C41.8609 15.5207 40.7832 14.443 40.7832 13.1136V2.56746C40.7832 1.23787 41.8609 0.160156 43.1903 0.160156ZM47.5121 8.51327C49.1191 8.51327 50.2692 7.34097 50.2692 5.69834C50.2692 4.06414 49.1191 2.8851 47.5121 2.8851H44.6751C44.6583 2.88506 44.6418 2.88832 44.6263 2.8947C44.6108 2.90108 44.5968 2.91044 44.585 2.92227C44.5731 2.93409 44.5637 2.94813 44.5573 2.96359C44.5509 2.97904 44.5477 2.99561 44.5477 3.01234V10.7981C44.548 10.8318 44.5616 10.864 44.5854 10.8878C44.6092 10.9116 44.6414 10.9251 44.6751 10.9255H45.7419C45.7757 10.9255 45.808 10.9121 45.8319 10.8882C45.8558 10.8644 45.8693 10.832 45.8693 10.7982V8.64051C45.8693 8.62376 45.8726 8.60717 45.879 8.5917C45.8854 8.57622 45.8948 8.56217 45.9066 8.55033C45.9185 8.5385 45.9325 8.52911 45.948 8.52273C45.9635 8.51634 45.9801 8.51308 45.9968 8.51312H47.5121V8.51327ZM47.4305 4.06751C48.3037 4.06751 48.9476 4.75707 48.9476 5.69834C48.9476 6.64115 48.3037 7.32917 47.4305 7.32917H45.9968C45.9633 7.32925 45.9311 7.31609 45.9072 7.29255C45.8833 7.26901 45.8697 7.23699 45.8693 7.20346V4.19491C45.8698 4.16126 45.8834 4.12913 45.9072 4.10534C45.931 4.08156 45.9632 4.06799 45.9968 4.06751H47.4305ZM50.5835 9.43231C50.5724 9.18044 50.6244 8.92979 50.7348 8.70311C50.8452 8.47644 51.0104 8.28092 51.2155 8.13431C51.6301 7.82341 52.2721 7.66214 53.2252 7.62473L54.2359 7.5907V7.29176C54.2359 6.69542 53.835 6.44247 53.1911 6.44247C52.5473 6.44247 52.1413 6.66997 52.0461 7.04203C52.0387 7.06835 52.0226 7.09138 52.0004 7.10741C51.9782 7.12343 51.9513 7.13151 51.924 7.13033H50.9267C50.899 7.13113 50.8719 7.12271 50.8495 7.10639C50.8271 7.09008 50.8107 7.0668 50.803 7.04019C50.7978 7.02259 50.7966 7.00406 50.7993 6.98592C50.9488 6.1026 51.6793 5.43144 53.2371 5.43144C54.8917 5.43144 55.4879 6.20102 55.4879 7.67057V10.793C55.4882 10.8099 55.4851 10.8267 55.4788 10.8423C55.4726 10.858 55.4632 10.8723 55.4513 10.8842C55.4394 10.8962 55.4253 10.9057 55.4097 10.9122C55.3941 10.9187 55.3774 10.9221 55.3605 10.9221H54.3532C54.3363 10.9221 54.3196 10.9187 54.304 10.9122C54.2884 10.9057 54.2743 10.8962 54.2624 10.8842C54.2506 10.8722 54.2413 10.858 54.235 10.8423C54.2287 10.8266 54.2256 10.8099 54.2258 10.793V10.5603C54.2271 10.545 54.2247 10.5297 54.2188 10.5155C54.2129 10.5014 54.2037 10.4888 54.1919 10.4791C54.1801 10.4693 54.1661 10.4625 54.1511 10.4593C54.1361 10.4561 54.1205 10.4565 54.1057 10.4607C54.086 10.4661 54.0685 10.4779 54.0559 10.4941C53.7551 10.8218 53.266 11.0598 52.4863 11.0598C51.3429 11.0631 50.5835 10.4651 50.5835 9.43231ZM54.2359 8.75273V8.51143L52.9279 8.5795C52.2382 8.61506 51.8355 8.9022 51.8355 9.38464C51.8355 9.82124 52.2042 10.0642 52.8464 10.0642C53.7196 10.0642 54.2359 9.59206 54.2359 8.75441V8.75273ZM56.5005 12.3746V13.2834C56.4989 13.3128 56.5073 13.3418 56.5242 13.3658C56.5411 13.3898 56.5657 13.4075 56.5938 13.4159C56.7715 13.4643 56.9552 13.4867 57.1393 13.4822C58.116 13.4822 59.0079 13.1255 59.5176 11.7358L61.76 5.7543C61.7663 5.73505 61.7681 5.71458 61.7651 5.69454C61.7621 5.67449 61.7545 5.65543 61.7428 5.63886C61.731 5.62234 61.7155 5.60881 61.6975 5.59936C61.6795 5.58991 61.6596 5.5848 61.6393 5.58444H60.5946C60.5674 5.58416 60.5409 5.59258 60.5189 5.60847C60.4969 5.62436 60.4805 5.64688 60.4722 5.67274L59.2372 9.46114C59.2278 9.48593 59.211 9.50726 59.1892 9.52232C59.1673 9.53737 59.1414 9.54543 59.1149 9.54543C59.0884 9.54543 59.0625 9.53737 59.0406 9.52232C59.0188 9.50726 59.002 9.48593 58.9925 9.46114L57.569 5.66262C57.5595 5.63831 57.5429 5.61739 57.5214 5.60256C57.4999 5.58773 57.4745 5.57966 57.4483 5.57938H56.429C56.4087 5.57966 56.3888 5.58472 56.3708 5.59416C56.3529 5.6036 56.3374 5.61714 56.3256 5.6337C56.3139 5.65025 56.3062 5.66934 56.3033 5.68942C56.3003 5.7095 56.3021 5.72999 56.3085 5.74924L58.4048 11.1344C58.4151 11.1624 58.4151 11.1931 58.4048 11.221L58.3386 11.43C58.2613 11.6892 58.0993 11.915 57.8785 12.0712C57.6576 12.2273 57.3907 12.3048 57.1206 12.2912C56.9638 12.2911 56.8074 12.2763 56.6533 12.2471C56.6251 12.2417 56.596 12.246 56.5705 12.2591C56.545 12.2722 56.5246 12.2934 56.5126 12.3194C56.5044 12.3367 56.5003 12.3556 56.5005 12.3746Z" fill="white"/>
                </g>
                <defs>
                    <clipPath id="clip0_361_7914">
                        <rect width="65" height="15.6368" fill="white"/>
                    </clipPath>
                </defs>
            </svg>
        </span>
        Learn more
    </p>
    <ul class="tmb_product_featuresList">
        <li class="tmb_product_feature_item"></li>
    </ul>
    <div
        class="tmb_product_buttons">
        <!--+++--- Quntity Control  of Product ---+++-->
        <form action="/cart/add" method="post" class="product-form">
            <input
                type="hidden" name="id" value="{{ product.variants.first.id }}">
                <!-- Product title, price, and other details -->

                <div class="flex item-center tmb_costContainer">

                    <div class="quantity-controls tmb_product_quntity_controls">
                        <button type="button" class="quantity-decrement">-</button>
                        <input type="number" name="quantity" value="1" min="1" class="quantity-input tmb_product_quantity_input">
                            <button type="button" class="quantity-increment">+</button>
                        </div>


                        <!--+++--- Total Cost of Products ---+++-->

                        <div class="tmb_totalCost flex item-center">
                            <span>Total:</span>
                            <span>$198.00</span>
                        </div>
                    </div>
                    <!--+++--- Add to Cart Button ---+++-->
                    <button type="submit" class="btn btn-primary tmb_product_btn solid_cta">Add to Cart</button>
                </form>

            </div>
 </form>
        </div>
