<style>
    .tmb_product_mediaWrapper{
        display:flex;
    
    }
    .tmb_product_media_slider{
        display:flex;
        flex-direction:columns;
        gap:12px;
    }

    .tmb_product_mainImage{
        max-width:490px;
        width:100%;
    }

</style>

<div class="tmb_product_mediaWrapper">
<div class="tmb_product_media_slider">
</div>
<div class="tmb_product_mainImage">

</div>



</div>