<style>
    .tmb_product_mediaWrapper{
        display:flex;
    
    }
    .tmb_product_media_slider{
        display:flex;
        flex-direction:columns;
        gap:12px;
    }

    .tmb_product_mainImage{
        max-width:490px;
        width:100%;
    }

</style>

<div class="tmb_product_mediaWrapper">

<div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper mySwiperMain">
    <div class="swiper-wrapper ">
      {% for image in product.images %} 
          <div class="swiper-slide product_main_image">
            <img src="{{ image | img_url :"" }}"
              alt="{{ image.alt }}" width="" height="" loading="lazy" class="d-block product_gallery_image "
            >
          </div>
        {%- endfor -%}
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
  <div thumbsSlider="" class="swiper mySwiperGallery">
    <div class="swiper-wrapper">
       {% for image in product.images %} 
          <div class="swiper-slide product_gallery_items" >
            <img src="{{ image | img_url :"" }}"
              alt="{{ image.alt }}" width="" height="" loading="lazy" class="d-block product_gallery_image"
            >
          </div>
        {%- endfor -%}
    </div>
  </div>



</div>