<style>
    .product_main_image{
      padding:14px;
      max-width:490px;
      width:100%;
      border-radius: 8.736px;
border: 1.456px solid rgba(255, 221, 64, 0.60);
background: rgba(255, 255, 255, 0.06);
box-shadow: 0px 34.9444465637207px 58.24074172973633px 17.47222328186035px rgba(0, 0, 0, 0.24);
backdrop-filter: blur(8.736111640930176px);
    }
  .product_main_image{
    max-widht:462px;
    widht:100%;
  }

   .swiper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-slide {
    background-size: cover;
    background-position: center;
  }

  .mySwiper2 {
    height: 80%;
    width: 100%;
  }

  .mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
  }

  .mySwiperGallery .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
  }
  
  .mySwiperGallery .swiper-slide-thumb-active {
    opacity: 1;
    display:flex;
  }

  @media screen and (max-width: 768px) {
    .product_gallery_image {
      margin: 0 auto;
      max-width: 280px;
      width: 100%;
    }
   .product_main_image{
      max-width:100%;
    }
   .product_gallery_block .swiper-button-next:after, .swiper-button-prev:after{
     font-size:25px;
   } 
  }

  .tmb_product_mediaWrapper{
    display:flex;
    flex-direction:row-reverse;
    gap:17px;
    
  }
     .product_gallery_items img{
          max-width: 107px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #FFDD40;
    height: 132px;
    display: block;
  }
  swiper.mySwiperGallery {
    max-width: 107px;
    width: 100%;
}
    
  

</style>

<div class="tmb_product_mediaWrapper">

<div class="swiper mySwiperMain">
    <div class="swiper-wrapper ">
      {% for image in product.images %} 
          <div class="swiper-slide product_main_image">
            <img src="{{ image | img_url :"" }}"
              alt="{{ image.alt }}" width="" height="" loading="lazy" class="d-block product_gallery_image "
            >
          </div>
        {%- endfor -%}
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
  <div thumbsSlider="" class="swiper mySwiperGallery">
    <div class="swiper-wrapper">
       {% for image in product.images %} 
          <div class="swiper-slide product_gallery_items" >
            <img src="{{ image | img_url :"" }}"
              alt="{{ image.alt }}" width="" height="" loading="lazy" class="d-block product_gallery_image"
            >
          </div>
        {%- endfor -%}
    </div>
  </div>



</div>




  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".mySwiperGallery", {
      loop: true,
      spaceBetween: 10,
      slidesPerView: 5,
      freeMode: true,
      watchSlidesProgress: true,
    });
    var swiper2 = new Swiper(".mySwiperMain", {
      loop: true,
      spaceBetween: 10,
        slidesPerView: 1,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      thumbs: {
        swiper: swiper,
      },
    });
  </script>