<style>


.tmb_wishList_grid{
display:grid;
gird-template-columns:1fr 1fr 1fr 1fr 1fr;
}
 .tmb_wishList_grid img{
    border-radius: 10px;
  }
</style>


<div class="tmb_container">
  <div class="tmb_wishList_grid">
      <a href="{{ product.url }}">
        <img src="{{ product.featured_image | img_url }}" />
      </a>
  </div>
</div>

