
<style>
.wishlist__grid img{
  border-radius:10px;
}
  .wishlist__grid{
    display:flex;
    gap:20px;
  }
  
</style>


  <div class="tmb_wishList_grid">
      <a href="{{ product.url }}">
        <img src="{{ product.featured_image | img_url:"medium" }}" />
      </a>
  </div>


