<style>
  .get_started_sec{
    padding:120px 0 96px;
    position: relative;
    overflow: hidden;
  }
  .get_started_sec::after {
    content: '';
    border-radius: 1624.069px;
    opacity: 0.2;
    background: radial-gradient(50% 50.00% at 50% 50.00%, #E50C7D 0%, rgba(244, 0, 127, 0.00) 100%);
    /* backdrop-filter: blur(65px); */
    position: absolute;
    top: -300px;
    left: 50%;
    width: 1611.528px;
    height: 1624.069px;
}
  .get_started_sec .sec_head{
    margin-bottom:84px;
  }
  .get_started_sec .sec_head_inner{
    display:flex;
    align-items:center;
    justify-content: center;
  }
  .star_wrapper {
    margin-top: -6px;
    width: 48px;
    height: 48px;
    display: flex;
    border-radius: 30px;
    border: 1px solid #FFDD40;
    background: rgba(255, 255, 255, 0.08);
  }
  .star_wrapper img {
    margin: auto;
    max-width: 27px;
  }
  .get_started_sec .spacer{
    margin-top: -6px;
    background: #FFDD40;
    width: 38px;
    height: 1px;
    display: block;
  }
  .get_started_sec .sec_content_inner,
  .get_started_sec .text_wrapper
  {
    display:flex;
    align-items:center;
    gap:21px;
  }
  .get_started_sec .text_wrapper{
   align-items:start; 
  }
  .text_heading{
    color: #E50C7D;
    text-shadow: 0px 0px 54.04px rgba(229, 12, 125, 0.80);
    font-family: Newake;
    font-size: 166.924px;
    font-weight: 400;
    line-height: 165.614px;
    letter-spacing: 5.564px;
  }
  .get_started_sec .heading_lg{
    margin-bottom:16px;
  }
  .get_started_sec .body_text_lg {
      max-width: 595px;
  }
  .text_wrapper{
    max-width:70%;
    width:100%;
  }
  .img_wrapper{
    max-width:30%;
    width:100%;
   
  }
  .img_wrapper .img_inner{
    padding:3px;
    border-radius: 10px;
    border: 1px solid rgba(255, 221, 64, 0.60);
    background: rgba(255, 255, 255, 0.06);
    box-shadow: 0px 24px 40px 12px rgba(0, 0, 0, 0.24);
    backdrop-filter: blur(6px);
    width: fit-content;
    margin: 0 0 0 auto;
  }
  .img_wrapper .img_inner img{
    display:block;
  }
  
  .get_started_sec .heading_xl{
    text-align:start;
  }
  .img_wrapper .inner-modifier{
    margin: 0 auto 0 0;
  }
  .highlighted_text{
    color: #FFDD40;
    display:block;
  }
  .second-slide .img_wrapper .img_inner img {
    max-width: 370px;
    width:100%;
  }
  .get_started_sec .second-slide{
    margin-top:27px;
  }
  .get_started_sec .second-slide,
  .get_started_sec .third-slide,
  .get_started_sec .fourth-slide
  {
    margin-top:69px;
  }
  .get_started_sec .sec_content_inner.fourth-slide {
    gap: 60px;
  }
  .sec_content_inner.third-slide .text_wrapper ,
  .sec_content_inner.second-slide .text_wrapper
  {
    justify-content: center;
  }
  .sec_content_inner.first-slide .text_wrapper {
      justify-content: end;
  }
  .cta_wrapper{
      text-align:center;
      margin-top:71px;
    }
  .cta_wrapper a{
      display: inline-block;
    }
    
  @media(max-width:991px){
    .sec_content_inner.third-slide,
    .sec_content_inner.first-slide
    {
      flex-direction: column;
      align-items: flex-start;
    }
    .sec_content_inner.second-slide ,
    .sec_content_inner.fourth-slide
    {
      flex-direction: column-reverse;
    }
    .get_started_sec .text_wrapper{
      max-width: 100%;
      width: 100%;
    }
    .img_wrapper{
      max-width: 100%;
    }
    .img_wrapper .img_inner{
      margin: 0;
      width: 100%;
    }
    .img_wrapper .img_inner img {
      max-width: 100%;
      width: 100%;
  }
    
    
  }
  @media(max-width:750px){
    .get_started_sec{
      padding:56px 0 64px;
    }
    .get_started_sec .sec_head{
      margin-bottom:48px;
    }
    .star_wrapper{
      width: 32px;
      height: 32px;
    }
    .star_wrapper img{
      max-width: 17px;
    }
    .get_started_sec .spacer{
        width: 24px;
    }
    .text_heading{
      font-size: 63.351px;
      line-height: 62.853px;
      letter-spacing: 2.112px;
    }
    .get_started_sec .sec_content_inner {
      margin-top: 64px;
    }
    .get_started_sec .heading_lg{
      margin-bottom:8px;
    }
    .get_started_sec .sec_content_inner, .get_started_sec .text_wrapper,
    .get_started_sec .sec_content_inner.fourth-slide
    {
      gap:15px;
    }
    .cta_wrapper{
      margin-top:40px;
    }
    
    
  }
</style>
<section class="get_started_sec">
  <div class="tmb_container">
    <div class="sec_head">
      <div class="sec_head_inner">
        <div class="star_wrapper">
          <img src="https://cdn.shopify.com/s/files/1/0765/0695/6086/files/stars.png?v=1692956061" alt="image-description">
        </div>
        <div class="spacer"></div>
        <h2 class="heading_xl">How to get started</h2>
      </div>
    </div>
    <div class="sec_content">
      
      <div class="sec_content_inner first-slide">
        <div class="text_wrapper">
          <h2 class="text_heading">1</h2>
          <div>
              <h3 class="heading_lg">Add the Easel</h3>
              <p class="body_text_lg">In order to display and illuminate your art, you will first need an Easel 1.0. This is the base unit that includes an illumination panel, mounting brackets, and a yard stand</p>
          </div>
        </div>
        <div class="img_wrapper">
          <div class="img_inner">
            <img src="https://cdn.shopify.com/s/files/1/0765/0695/6086/files/easel-new.jpg?v=1692958158" alt="image-description">
          </div>
        </div>
      </div>
      
      <div class="sec_content_inner second-slide">
        <div class="img_wrapper">
          <div class="img_inner inner-modifier">
            <img src="https://cdn.shopify.com/s/files/1/0765/0695/6086/files/second-step.jpg?v=1692963438" alt="image-description">
          </div>
        </div>
        <div class="text_wrapper">
          <h2 class="text_heading">2</h2>
          <div>
              <h3 class="heading_lg">Find a print</h3>
              <p class="body_text_lg">ArtGlo has hundreds of prints you can order for your Easel 1.0. Find the perfect print and add it to your order. <span class="highlighted_text">When you purchase an Easel 1.0 your first print is free!</span></p>
          </div>
        </div>
      </div>


      <div class="sec_content_inner third-slide">
        <div class="text_wrapper">
          <h2 class="text_heading">3</h2>
          <div>
              <h3 class="heading_lg">Set it up</h3>
              <p class="body_text_lg">Mount your easel with brackets or place it in your yard using the included stand (make sure it has some sun). It will automatically illuminate at night and will stay illuminated for 4 hours.</p>
          </div>
        </div>
        <div class="img_wrapper">
          <div class="img_inner">
            <img src="https://cdn.shopify.com/s/files/1/0765/0695/6086/files/second-third.jpg?v=1692964064" alt="image-description">
          </div>
        </div>
      </div>

     <div class="sec_content_inner fourth-slide">
        <div class="img_wrapper">
          <div class="img_inner inner-modifier">
            <img src="https://cdn.shopify.com/s/files/1/0765/0695/6086/files/fourth-slide.jpg?v=1692964832" alt="image-description">
          </div>
        </div>
        <div class="text_wrapper">
          <h2 class="text_heading">4</h2>
          <div>
              <h3 class="heading_lg">Endless opportunities</h3>
              <p class="body_text_lg">Keep building your art collection for only $29 at piece. Whether you want to express yourself, or just decorate your yard differently for specific occasions like Xmas, Halloween, Birthdays and so on, we got you! </p>
          </div>
        </div>
      </div>

      <div class="cta_wrapper">
        <a href="#" class="solid_cta">Get Your Unique Art</a>
      </div>
    </div>
  </div>
</section>


{% schema %}
  {
    "name": "Get Started Section",
    "settings": []
  }
{% endschema %}
