<style></style>

<section class="tmb-newsletter-sec">
  <div class="newsletter_content">
    <h2 class="newsletter_heading">Subscribe to our Newsletter</h2>
    <p class="newsletter_text">
      Be first to get update for a diverse collection of prints, curated to reflect your unique style. From holiday
      celebrations to political expressions and sports enthusiasms, ArtGlo offers the perfect panel for every passion.
    </p>
    <form class="newsletter_form">
      <input type="email" class="newsletter_email" placeholder="Email">
      <button class="newsletter_btn btn" type="submit">Subscribe</button>
    </form>
  </div>
</section>

{% schema %}
{
  "name": "Section name",
  "settings": []
}
{% endschema %}
