<style>
  .newsletter-sec {
             padding: 64px 0 87px;
             background: url(https://cdn.shopify.com/s/files/1/0765/0695/6086/files/newsletter_bg.png?v=1692945511);
         }

         .newsletter_content {
             max-width: 720px;
             width: 100%;
             margin: 0 auto;
         }
          .newsletter_heading_box{
            display:flex;
            align-items: center;
            gap:22px;
            margin-bottom: 25px;

          }
         .newsletter_heading {
            text-shadow: 0px 0px 27px #E50C7D;
            color: #E50C7D;
            font-size: 50px;
         }

         .newsletter_text {
             text-align: center;
             margin-bottom: 32px;
         }

         .newsletter_form {
             max-width: 409px;
             width: 100%;
             margin: 0 auto;
         }

         .newsletter_email {
           background: transparent;
           outline: none;
           border:none;
           width: 100%;
           padding: 10px 16px;
           border-radius: 10px;
           margin-bottom: 24px;
           border: 1px solid #BDBDBD;
           background: rgba(255, 255, 255, 0.20);

         }

         ::placeholder {
             color: white;
             font-weight: 450;
             line-height: 18px;
             font-size: 16px;
         }

         .newsletter_btn {
             width: 100%;
         }
</style>

<section class="newsletter-sec">
  <div class="newsletter_content">
    <div class="newsletter_heading_box">
      <h2 class="heading_xl newsletter_heading">Subscribe to our Newsletter</h2>
      <img
        src="https://cdn.shopify.com/s/files/1/0765/0695/6086/files/newsletter_icon_c9e41f8c-3d84-470f-8518-503be457f712.svg?v=1692945895"
        alt="newsletter Icon"
        loading="lazy"
      >
    </div>
    <p class="body_text_lg newsletter_text">
      Be first to get update for a diverse collection of prints, curated to reflect your unique style. From holiday
      celebrations to political expressions and sports enthusiasms, ArtGlo offers the perfect panel for every passion.
    </p>
    <form class="newsletter_form">
      <input type="email" class="newsletter_email" placeholder="Email">
      <button class="newsletter_btn btn" type="submit">Subscribe</button>
    </form>
  </div>
</section>

{% schema %}
{
  "name": "Section name",
  "settings": []
}
{% endschema %}
