<style></style>
<section class="personalization_banner">
  personalization_banner
  personalization_banner
</section>

{% schema %}
  {
    "name": "personalization Banner",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}