<style>
  .tmb_story_section{
    padding:86px 0 91px; 
  }
  .tmb_story_brief {
            max-width: 709px;
            width: 100%;
            margin: 0 auto;
    text-align:center;
        }

        .tmb_story_logo img {
            margin: 0 auto;
        }

        .tmb_story_brief_text {
            margin-top: 24px;
            color: #FFF;
            text-align: center;
            font-family: Circular Std;
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: 35.992px;
            ;
        }

        .tmb_story_grid {
            display: flex;
            gap: 21px;
            justify-content: space-between;
            align-items: center;
        }




        .tmb_grid_content {
            max-width: 645px;
            width: 100%;

        }

        .tmb_grid_content_text {
            color: #FFF;
            font-family: Circular Std;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px;
        }

        .tmb_grid_content p:not(:first-child) {
            margin-top: 25px;
        }


        .tmb_grid_image {
            max-width: 515px;
            width: 100%;
            border-radius: 8.736px;
            border: 1.456px solid rgba(255, 221, 64, 0.60);
            background: rgba(255, 255, 255, 0.06);
            box-shadow: 0px 34.9444465637207px 58.24074172973633px 17.47222328186035px rgba(0, 0, 0, 0.24);
            backdrop-filter: blur(8.736111640930176px);
            padding: 9px 7px;
        }
</style>
  <section class="tmb_story_section tmb_about_section">
        <div class="tmb_container">
            <div class="tmb_story_brief">
                <span class="tmb_story_logo">
                    <img src="https://cdn.shopify.com/s/files/1/0765/0695/6086/files/artglo-logo_c0e412fc-6378-435a-a982-c2f4c122f8b8.png?v=1692863334"
                        ; width="166" ; height="42" ; alt="Image of logo" ; class="tmb_block" ; />
                </span>
                <P class="tmb_story_brief_text">
                    Our story is your story. You want to do good work. You're motivated by
                    mission and purpose. And you want your work to make a difference. We
                    want the same thing.
                </P>
            </div>
            <div class="tmb_story_grid">
                <div class="tmb_grid_content">
                    <p class="tmb_grid_content_text">
                        Gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts
                        fava bean collard greens dandelion okra wakame tomato. Dandelion cucumber earthnut pea peanut
                        soko zucchini.
                    </p>
                    <p class="tmb_grid_content_text">
                        Gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts
                        fava bean collard greens dandelion okra wakame tomato. Dandelion cucumber earthnut pea peanut
                        soko zucchini.
                    </p>



                </div>
                <div class="tmb_grid_image">
                    <img src="https://cdn.shopify.com/s/files/1/0765/0695/6086/files/aboutPage_story1.png?v=1692862071"
                        ; width="501" ; height="370" ; alt="Image" ; class="tmb_block" ; />
                </div>
            </div>
        </div>

    </section>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}