<style></style>>
<section class="tmb-product-banner">
<div>
  <div class="tmb-product-wrapper">
    {% render 'tmb-product-media' %}
  </div>
</div>
  
</section>

{% schema %}
  {
    "name": "Product Banner",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}