<style>
.tmb-product-wrapper{
  display:flex;
  gap:21px;
}


</style>
<section class="tmb-product-banner">
<div>
  <div class="tmb-product-wrapper">
    <div>
      {% render 'tmb-product-media' %}
      
    </div>
    <div>
      {% render 'tmb-product-detail' %}
    </div>
    
  </div>
</div>
  
</section>

{% schema %}
  {
    "name": "Product Banner",
    "settings": []
  }
{% endschema %}
