<style>
.tmb-product-wrapper{
  display:flex;
  gap:21px;
}
.tmb_product_galary{
  max-width:614px;
  width:100%;

}


</style>
<section class="tmb-product-banner">
<div class="tmb_container">
  <div class="tmb-product-wrapper">
    <div class="tmb_product_galary">
      {% render 'tmb-product-media' %}
      
    </div>
    <div>
      {% render 'tmb-product-detail' %}
    </div>
    
  </div>
</div>
  
</section>
  <script>
    let productMetaData = {{ product | json }}
</script> 


{% schema %}
  {
    "name": "Product Banner",
    "settings": []
  }
{% endschema %}
