<style>
  .tmb_about_banner {
  	padding: 170px 0 119px;
    margin-top:-82px;
  	position: relative;
       {% if section.settings.image !=blank %}
  	 background: url("{{ section.settings.image | img_url : "master" }}");
       {% else %}
      background: url("https://cdn.shopify.com/s/files/1/0765/0695/6086/files/about_banner_bg.png?v=1692859144");
       {% endif %}
    background-size: cover;
    background-attachment: fixed;
    
  }

  .tmb_about_banner::before {
      content: "";
      position: absolute;
  	  background: url("https://cdn.shopify.com/s/files/1/0765/0695/6086/files/EllipseBanner1.png?v=1692860195");
  	  backdrop-filter: blur(65px);
  	  width: 932px;
      height: 841px;
      bottom: 0;
      left: -10%;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: left;
  }
  
 
  .tmb_about_banner::after {
  	content: "";
  	 background: url("https://cdn.shopify.com/s/files/1/0765/0695/6086/files/about_banner_bg.png?v=1692859144"); 
  	position: absolute;
  	top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	background-size: cover;
  	background-position: center;
    background-attachment: fixed;
  }

  .tmb_about_banner_content {
  	padding: 48px 78px;
  	border-radius: 10px;
  	background: rgba(255, 255, 255, 0.30);
  	backdrop-filter: blur(10px);
  	max-width: 1000px;
  	width: 100%;
  	margin: 0 auto;
  	position: relative;
  	z-index: 2;
  }

  .tmb_about_banner-title {
  	color: #FFF;
  	text-align: center;
  	font-family: Newake;
  	font-size: 56px;
  	font-style: normal;
  	font-weight: 400;
  	line-height: 128%;
      margin-bottom:24px;
  }

  .tmb_about_banner-brief {
  	color: #FFF;
  	text-align: center;
  	font-family: Circular Std;
  	font-size: 22px;
  	font-style: normal;
  	font-weight: 500;
  	line-height: 163%;
  	max-width: 765px;
  	width: 100%;
  	margin: 0 auto;
  }

  @media (max-width:1200px){
    .tmb_about_banner-title {
  	font-size: 50px;
    }
  }
  @media (max-width:1024px){
    .tmb_about_banner-title {
  	font-size: 46px;
    }
    .tmb_about_banner-brief {
      font-size: 20px;
    }
  }
    @media (max-width:750px){
        .tmb_about_banner {
  	padding: 127px 0 64px !important; 
    margin-top:-82px;
    
  }
      .tmb_about_banner_content {
  	padding: 24px 16px;
  }

    .tmb_about_banner-title {
  	font-size: 32px;
      line-height:30px;
    }
     .tmb_about_banner-brief {
      font-size: 16px;
       line-height:20px;
    }
  }
</style>
<section class="tmb_about_banner tmb_about_section">
  <div class="tmb_container">
    <div class="tmb_about_banner_content ">
      <h2 class="tmb_about_banner-title {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">{{ section.settings.heading }}</h2>
      <p class="tmb_about_banner-brief {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">{{ section.settings.page_description }}</p>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "About Banner",
  "tag": "section",
  "class": "about-banner-section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Banner Background Image"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "page_description",
      "label": "Page Description"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
