.easel_box{
    background: #23213D;
display: flex;
justify-content: center;
align-items: center;
gap: 24px;
}
.easel_content{
    display: flex;
    gap: 24px;
    align-items: center;
}
.easel_img{
    max-width: 96px;
    width: 100%;
    padding: 10px 0px;
}
.easel_title{
    display: flex;
    align-items: center;
    gap: 33px;
    padding-bottom: 16px;
    color: #FFF;
font-family: Ubuntu;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.easel_title span{
    color: #FFF;
font-family: Ubuntu;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.tmb_offer_header_price{
    color: #FFDD40;
font-family: Ubuntu;
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.warranty-Guarantee{
    display: flex;
    align-items: center;
    gap: 17px;
}
.warranty ,.money-Back-Guarantee{
    display: flex;
    align-items: center;
    gap: 16px;
}
.warranty p ,.money-Back-Guarantee p{
    color: #FFF;
    text-align: center;
    font-family: Ubuntu;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}
.vertical_line{
    width: 2px;
height: 80px;
flex-shrink: 0;
stroke-width: 2px;
background: #9E9E9E;
display: block;
}
.star_list{
    display: flex;
    gap: 4px;
    padding-bottom: 19px;
}
.star_list li{
    list-style: none;
}
.reviews{
    color: #FFF;
font-family: Ubuntu;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 21px;
}
.add_button{
    display: flex;
    max-width: 279px;
width: 100%;
color: #FFF;
min-width: 122px;
padding: 10.5px 31.89px;
justify-content: center;
align-items: center;
flex-shrink: 0;
border-radius: 10px;
border: 2px solid #E50C7D;
background: rgba(229, 12, 125, 0.80);
text-align: center;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 18px; /* 112.5% */
letter-spacing: 1px;
}
.rating-button{
    display: flex;
    justify-content: space-between;
    max-width: 540px;
    width: 100%;
}