@font-face {
    font-family: 'Inter';
    src: url('https://cdn.shopify.com/s/files/1/0765/0695/6086/files/Inter-Black.woff2') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0765/0695/6086/files/Inter-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap; 
}