/*  Knewave font faces */
@font-face {
    font-family: 'Knewave';
    src: url('https://cdn.shopify.com/s/files/1/0765/0695/6086/files/Knewave-Regular.woff2') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0765/0695/6086/files/Knewave-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap; 
}



/* Nerko One font faces */
@font-face {
    font-family: 'Nerko One';
    src: url('https://cdn.shopify.com/s/files/1/0765/0695/6086/files/NerkoOne-Regular.woff2') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0765/0695/6086/files/NerkoOne-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap; 
}



/* Ubunto font faces */
@font-face {
    font-family: 'Ubuntu';
    src: url('https://cdn.shopify.com/s/files/1/0765/0695/6086/files/Ubuntu-Bold.woff2') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0765/0695/6086/files/Ubuntu-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap; 
}

@font-face {
    font-family: 'Ubuntu';
    src: url('https://cdn.shopify.com/s/files/1/0765/0695/6086/files/Ubuntu-Regular.woff2') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0765/0695/6086/files/Ubuntu-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap; 
}

@font-face {
    font-family: 'Ubuntu';
    src: url('https://cdn.shopify.com/s/files/1/0765/0695/6086/files/Ubuntu-Medium.woff2') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0765/0695/6086/files/Ubuntu-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap; 
}



/* Inter font facess */

@font-face {
    font-family: 'Inter';
    src: url('https://cdn.shopify.com/s/files/1/0765/0695/6086/files/Inter-Black.woff2') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0765/0695/6086/files/Inter-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap; 
}
@font-face {
    font-family: 'Inter';
    src: url('https://cdn.shopify.com/s/files/1/0765/0695/6086/files/Inter-ExtraBold.woff2') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0765/0695/6086/files/Inter-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap; 
}
@font-face {
    font-family: 'Inter';
    src: url('https://cdn.shopify.com/s/files/1/0765/0695/6086/files/Inter-Bold.woff2') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0765/0695/6086/files/Inter-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap; 
}
@font-face {
    font-family: 'Inter';
    src: url('https://cdn.shopify.com/s/files/1/0765/0695/6086/files/Inter-SemiBold.woff2') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0765/0695/6086/files/Inter-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap; 
}
@font-face {
    font-family: 'Inter';
    src: url('https://cdn.shopify.com/s/files/1/0765/0695/6086/files/Inter-Medium.woff2') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0765/0695/6086/files/Inter-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap; 
}
@font-face {
    font-family: 'Inter';
    src: url('https://cdn.shopify.com/s/files/1/0765/0695/6086/files/Inter-Regular.woff') format('woff'),
        url('https://cdn.shopify.com/s/files/1/0765/0695/6086/files/Inter-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap; 
}
