/* common heading Styles start */
h1,h2,h3,h4,h5,h6{
  font-family: Newake;
}
.hero_heading{
  color: #FFF;
  font-size: 56px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 1.6px;
}
.hero_heading span{
  color: #FFDD40;
}
.heading_xl{
  text-shadow: 0px 0px 27px #FFDD40;
  font-size: 48px;
  font-weight: 400;
  line-height: 64px; 
  letter-spacing: 1.6px;
  color: #FFDD40;
  text-align: center;
}
.heading_lg{
  color: #FFF;
  font-family: Circular Std;
  font-size: 28px;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 0.6px;
}
.heading_md{
  color: #FFF;
  font-family: Circular Std;
  font-size: 24px;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 0.6px;
}
.heading_sm{
  color: #FFF;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}
/* common heading Styles end */

/* common body text Styles start */
.body_text_lg{
  color: #F3F3F3;
  font-family: Circular Std;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
}
.body_text_md{
  color: #FFF;
  font-family: Circular Std;
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
  line-height: 22px; 
}
.solid_cta{
  border-radius: 10px;
  border: 2px solid #E50C7D;
  background: #e50c7dcc;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 1px;
  padding:19px;
  position:relative;
  overflow:hidden;
  transition:0.4s;
}
/* .solid_cta::after{
  content:'';
  background:#fff;
  position:absolute;
  top:-100%; 
  left:0;
  right:0;
  height:100%;
  transition:0.4s;
}
.solid_cta:hover{
  color: #e50c7dcc;
  
}
.solid_cta:hover::after{
   top:0;
} */
/* common body text Styles end */




/* ======== Responsive Breakpoints ======== */
@media(max-width:767px){
  /* common heading Styles start */
  .hero_heading{
    font-size: 34px;
    line-height:38px;
  }
  .heading_xl{
    font-size: 28px;
    line-height:32px;
  }
  .heading_lg,
  .heading_md
  {
    font-size: 18px;
  }
  /* common heading Styles end */
  
  /* common body text Styles start */
  .body_text_lg{
    font-size: 16px;
  }
  /* common body text Styles end */
  
}