* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul li{
  list-style: none;
}
a{
  text-decoration: none;
}
img {
    max-width: 100%;
}
button{
  background-color: transparent;
  outline: none;
  border: 0;
}
.tmb_container {
  max-width: 1242px;
  width: 100%;
  margin: 0 auto;
  padding:0 20px;
}
.sec_bg{
  background-color: #1C1D3C;
}
body{
  background-color: #1C1D3C;
}
/* common heading Styles start */
h1,h2,h3,h4,h5,h6{
  font-family: Newake;
}

.block{
  display: block;
}
.inline-block{
  display: inline-block;
}
.flex{
  display: flex;
}
.item-center{
  align-items: center;
}
.item-between{
  justify-content: space-between;
}
.t-center{
  text-align: center;
}
.m-auto{
  margin: 0 auto;
}
.relative{
  position: relative;
}
.hero_heading{
  color: #FFF;
  font-size: 56px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 1.6px;
}
.hero_heading span{
  color: #FFDD40;
}
.heading_xl{
  font-family: Newake;
  text-shadow: 0px 0px 27px #FFDD40;
  font-size: 48px;
  font-weight: 400;
  line-height: 64px; 
  letter-spacing: 1.6px;
  color: #FFDD40;
  text-align: center;
}
.heading_lg{
  color: #FFF;
  font-family: Circular Std;
  font-size: 28px;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 0.6px;
}
.heading_md{
  color: #FFF;
  font-family: Circular Std;
  font-size: 24px;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 0.6px;
}
.heading_sm{
  color: #FFF;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}
/* common heading Styles end */

/* common body text Styles start */
.body_text_lg{
  color: #F3F3F3;
  font-family: Circular Std;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
}
.body_text_md{
  color: #FFF;
  font-family: Circular Std;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; 
}
.solid_cta{
  border-radius: 10px;
  border: 2px solid #E50C7D;
  background-image:linear-gradient(90deg, #e50c7dcc, #e50c7dcc 48%, #e50c7dcc);
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 1px;
  padding:19px;
  position:relative;
  overflow:hidden;
  transition:background-image 4s;
  cursor:pointer;
}
.solid_cta:hover{
 background-image: linear-gradient(90deg,rgba(255,0,0,.64),#ff1c74 48%,#c0448b);
  color:white;
}


/* .solid_cta::after{
  content:'';
  background:#fff;
  position:absolute;
  top:-100%; 
  left:0;
  right:0;
  height:100%;
  transition:0.4s;
}
.solid_cta:hover{
  color: #e50c7dcc;
  
}
.solid_cta:hover::after{
   top:0;
} */
/* common body text Styles end */




/* ======== Responsive Breakpoints ======== */
@media(max-width:767px){
  /* common heading Styles start */
  .hero_heading{
    font-size: 34px;
    line-height:38px;
  }
  .heading_xl{
    font-size: 28px;
    line-height:32px;
  }
  .heading_lg{
    font-size: 20px;
  }
  .heading_md
  {
    font-size: 18px;
  }
  /* common heading Styles end */
  .solid_cta{
    max-width:100%;
    width:100%;
  }
  /* common body text Styles start */
  .body_text_lg{
    font-size: 16px;
  }
  /* common body text Styles end */
  
}



@media screen and (min-width: 750px) {

  .tmb_main_Image{
    max-width: 490px;
    width: 100%;
  }
  .thumbnail-list__item .slider__slide{
    width:100%;
  }
  .product--thumbnail_slider .thumbnail-slider{
    max-width: 107px;
    width: 100%;
  }
  .thumbnail-list.slider--tablet-up .thumbnail-list__item.slider__slide{
    width: 100%;
    max-width: 107px;
  }
  .tmb_MediaGallery{
    display: flex!important;
    flex-direction:row-reverse;
  }
  .tmb_main_Image{
    width: 70%;
  }
  .product--thumbnail_slider .thumbnail-slider {
    display: flex;
  }

 

}

.tmb_media_previewImage img{
  padding:14px;
  border-radius: 8.736px;
border: 1.456px solid rgba(255, 221, 64, 0.60);
background: rgba(255, 255, 255, 0.06);
box-shadow: 0px 34.9444465637207px 58.24074172973633px 17.47222328186035px rgba(0, 0, 0, 0.24);
backdrop-filter: blur(8.736111640930176px);
}
.tmb_quantity_label{
  display: none;
}
.tmb_quantitys{
  border-radius: 10px;
border: 1px solid #FFF;
overflow: hidden;
}
.quantity__button_tmb{
  outline:none;
  border: none;
}
.quantity__input{
  color: #FFF;
text-align: center;
font-family: Ubuntu;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px; 
}

.tmb_add_to_wish_btn{
  display: flex;
  color: #FFF;
font-family: Ubuntu;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
gap:16px;
}

.tmb_price_per_items{
  max-width: 535px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tmb_price_item{
  color: #FFDD40;
font-family: Ubuntu;
font-size: 38px;
font-style: normal;
font-weight: 700;
line-height: 48px;
}

.product__title.tmb_product_title h1 {
  color: #FFF;
  font-family: Ubuntu;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
}
.product__info-wrapper.tmb_product_info_wrapper.grid__item.scroll-trigger.animate--slide-in {
  max-width: 567px;
  width: 100%;
}
.price__container{
  width: 100%;
}
.tmb_stars {
  display: flex;
  gap: 4px;
}

.tmb_product-shoppay {
  align-items: center;
  color: #FFF;
  font-family: Ubuntu;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0;
}
.tmb_product-shoppay a {
  text-decoration-line: underline;
  color: #FFF;
  font-family: Ubuntu;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}
.tmb_product_featuresList {
  display: flex;
  flex-direction: column;
  gap: 19px;
  margin: 22px 0;
}
.tmb_product_feature_item {
  display: flex;
  gap: 16px;
  align-items: center;
  color: #FFF;
  text-align: center;
  font-family: Ubuntu;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
.tmb_feature_on_buy p {
  color: #FFDD40;
  font-family: Ubuntu;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing:0;
}

.tmb_feature_on_buy a {
  text-decoration-line: underline;
  color: #FFDD40;
  font-family: Ubuntu;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
}
.tmb_product_description{
  margin-top:40px;
}

.tmb_product_description_list{
  padding:16px 0 21px;
  border-top:1px solid #fff;
}

ul .tmb_product_description_list:last-child{
  border-bottom:1px solid #fff;
}

.tmb_product_description_heading{
  color: #FFF;
  font-family: Newake;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom:8px;
}
.tmb_product_btn {
  width: 100%;
  margin: 20px 0 16px;
}
.button:after{
  box-shadow: none;
}
.tmb_totalCost span {
  display: flex;
  color: #FFF;
  font-family: Ubuntu;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

}
.tmb_totalCost{
  display: flex;
  align-items: center;
}
.tmb_costContainer {
  display: flex;
  align-items: center;
  gap: 16px;
}
.product.grid.tmb_product_grid{
  flex-wrap: nowrap;
}



@media screen and (max-width: 750px) {

  .tmb_price_item{
    font-family: Newake;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
  
  }
  .tmb_product-shoppay {
    font-size: 16px;
}
.tmb_product_description_list {
  padding: 16px 0 16px;
}



}


@media screen and (max-width: 991px) {
  .product.grid.tmb_product_grid{
    flex-wrap: wrap;
  }
  .product__info-wrapper.tmb_product_info_wrapper.grid__item.scroll-trigger.animate--slide-in {
    max-width: 100%;
    width: 100%;
}
.product__info-container.tmb_info_container {
  max-width: 100%;
}
.tmb_MediaGallery{
  flex-direction: row;
  justify-content: center;
}
  
}
