
/* @font-face {
  font-family: 'ubuntu';
  src: url('https://cdn.shopify.com/s/files/1/0765/0695/6086/files/Ubuntu-Bold.woff2') format('woff2'),
       url('https://cdn.shopify.com/s/files/1/0765/0695/6086/files/Ubuntu-Bold.woff?') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
} */