<div class="wishlist__grid tmb_contanier flex container tmb_wishList_grid" grid-wishlist> 
  {% comment %} Sample loading element {% endcomment %}
  <p class="wishlist__loader full-width text-center">Loading...</p>
</div>
{% render 'wishlist-js' %}
